html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    transition-property: background,transform;
    transition-duration:0.4s;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    font-size: 33px;    
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    background: #02b3e4;    
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#mask{
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(187, 194, 183, 0.3);
    font-family: "Microsoft YaHei";
}

#info{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -150px;
    width: 300px;
    height: 500px;
    border: 1px solid #ffffff;
    z-index: 101;
}

#info-top{
    font-size: 18px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: dashed 1px #000;
}

#info-record{
    height: 400px;
    text-align: left;
}
#info-record ul{
    padding: 0;
}
#info-record li{
    height: 40px;
    line-height: 40px;
    list-style: none;
    border-bottom: dashed 1px #000;
}

#info-bottom{
    text-align: center;
}

#info-bottom span{
    display: inline-block;
    cursor: pointer;
    width: 80px;
    border: 1px solid #000;
    text-align: center;
    background-color: #4bff8d;
}
